datasheets
ressources

Etat recherches.pdf
TIPE.gan
TIPE.lyx
TIPE.lyx~
TIPE.pdf

prog/emitter/__pycache__
prog/emitter/.vscode
prog/emitter/.micropico
prog/test.ipynb

lifi elec/lifi-backups
lifi elec/fp-info-cache

MCOT/Modele_MCOT.docx
MCOT/MCOT_Eva_Pugliesi.pdf

photoresistor/.vscode
photoresistor/.micropico

receptor/.vscode
receptor/.micropico