datasheets
ressources

Etat recherches.pdf
TIPE.gan
TIPE.lyx
TIPE.lyx~
TIPE.pdf

prog/emitter/__pycache__
prog/emitter/.vscode
prog/emitter/.micropico
prog/test.ipynb
prog/computing/KNN

prog/photoresistor
prog/visualizer

prog/receptor/.vscode
prog/receptor/.micropico
prog/receptor

lifi elec/lifi-backups
lifi elec/fp-info-cache
lifi elec/1.jpg
lifi elec/2.jpg

3D/stand.20241109-112352.FCBak

MCOT/anciens.zip